@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";



.card {
    margin-top: 30px;
}

#mediatable, #mediatable tr, #mediatable td {
    border: none;
}

#title {
    padding-top: 20px;
}

#subtitle {
    padding-bottom: 20px;
}

#templatecomponent {
    padding-right: 20px;
}

#saveButton {
    margin-left: 1.5rem;
}

.error {
    border: 1px solid red;
}

@media (max-width: 513px) {
    #templatecomponent {
        padding-bottom: 20px;
    }
}

.input-container {
    max-width: 20rem;
  }
  
  .full-width {
    width: 100%;
  }
  
  .tag-circle {
    width: 20px;
    border-radius: 50%;
    height: 20px;
    margin-right: 10px;
  }
  
  .tag-name {
    font-size: 14px;
    line-height: 20px;
  }

  .tag-item {
    display: inline-block;
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 5px;
    white-space: nowrap;
  }
  
  .tag-item span {
    display: inline-block;
    vertical-align: middle;
  }