<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div class="grid">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="introduction">
        <h1 id="title">Add a new project:</h1>
        <p id="subtitle">Add your project with respect to the template*.</p>
      </div>
      <div class="card flex justify-content-start flex-wrap">
        <p-floatLabel id="templatecomponent">
          <p-dropdown [options]="templateNames" [(ngModel)]="selectedTemplate" [showClear]="true"
            inputId="float-label" />
          <label for="float-label">Select a Template</label>
        </p-floatLabel>
        <p-button id="addtemplate" label="Add Template" />
      </div>
      <div class="card flex justify-content-start">
        <p-floatLabel>
          <input pInputText id="projectTitle" [(ngModel)]="title" [ngClass]="{'error': !title}"
            [formControl]="titleInput" style="width: 81vw" />
          <label for="username">Project Title</label>
        </p-floatLabel>
      </div>
      <div class="card flex justify-content-start min-w-full">
        <p-floatLabel>
          <textarea id="float-input" rows="5" pInputTextarea style="width: 81vw" [(ngModel)]="description"
            [ngClass]="{'error': !description}" [formControl]="descriptionInput" [autoResize]="true">
            </textarea>
          <label for="float-input">Description</label>
        </p-floatLabel>
      </div>
      <div class="card p-fluid">
        <p-floatLabel>
          <p-autoComplete [(ngModel)]="selectedTags" [suggestions]="getNamesForTags(filteredTags)"
            (completeMethod)="filterTags($event)" [multiple]="true" [forceSelection]="true">
          </p-autoComplete>

          <label>Tags</label>
        </p-floatLabel>

      </div>
      <div class="card p-fluid">
        <p-floatLabel>

          <p-autoComplete [(ngModel)]="selectedCollaborators"
            [suggestions]="getNamesForCollaborators(filteredCollaborators)"
            (completeMethod)="filterCollaborators($event)" [multiple]="true" [forceSelection]="true">
          </p-autoComplete>

          <label for="chips">Colaborators</label>
        </p-floatLabel>
      </div>
      <div class="card">
        <div class="flex justify-content-between">
          <h3>Links</h3>
          <p-button label="Add Link" (click)="addLink()" />
        </div>
        <p-table id="linktable" [value]="links" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Url</th>
              <th>Delete Link</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-link let-rowIndex="rowIndex">
            <tr>
              <td><input pInputText [(ngModel)]="links[rowIndex].name" [ngClass]="{'error': !links[rowIndex].name}" />
              </td>
              <td><input pInputText [(ngModel)]="links[rowIndex].url" [ngClass]="{'error': !links[rowIndex].url}" />
              </td>
              <td><p-button icon="pi" (click)="removeLink(rowIndex)" severity="danger">
                  <div class="font-bold">X</div>
                </p-button></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="card">
        <div class="flex justify-content-between">
          <h3>Media</h3>
          <p-fileUpload mode="basic" chooseLabel="Upload" chooseIcon="pi pi-upload" name="demo[]"
            url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"
            (onUpload)="onUpload($event)" />
        </div>
        <p-table id="mediatable" [value]="media" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Name</th>
              <th>Preview</th>
              <th>Upload new File</th>
              <th>Delete File</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td><input pInputText [(ngModel)]="item.name" /></td>
              <td>
                <img [src]="item.path + item.name" [alt]="item.name" width="100" class="shadow-4" />
              </td>
              <td>
                <p-fileUpload mode="basic" chooseLabel="Upload" chooseIcon="pi pi-upload" name="demo[]"
                  url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000"
                  (onUpload)="onUpload($event)" />
              </td>
              <td><p-button label="Delete" /></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between font-normal text-sm">
              *Maximum file size is 10MB
            </div>
          </ng-template>
        </p-table>
      </div>
      <div class="card">
        <div class="flex justify-content-end">
          <p-button label="Cancel" class="p-button-secondary" severity="danger" (click)="cancel()"></p-button>
          <button id="saveButton" pButton pRipple label="Save" class="p-button-success" type="submit"
            (click)="saveProject()">
          </button>
        </div>
      </div>
      <div>

      </div>
    </div>
    <div class="col-2"></div>
  </div>
</body>

</html>