<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
<p-toast></p-toast>
  <div class="grid">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="introduction">
        <div class="grid">
          <div class="col-1 center" style="align-items: center;">
            <a href="http://localhost:4200">
              <p-button icon="pi pi-arrow-left" [outlined]="true" severity="contrast" />
            </a>
          </div>
          <div class="col-9">
            <h1 id="title" style="text-align: center;">Add a new project</h1>
          </div>
          <div class="col-3"></div>
          <div class="col-12">
            <p id="subtitle">Add your project with respect to the template*.</p>
          </div>
        </div>
      </div>
      <div class="card flex justify-content-start flex-wrap">
        <p-floatLabel id="templatecomponent">
          <p-dropdown [options]="templateNames" [(ngModel)]="selectedTemplate" [showClear]="true"
            inputId="float-label" />
          <label>Select a Template</label>
        </p-floatLabel>
        <p-button id="addtemplate" label="Add Template" />
      </div>
      <div class="card flex justify-content-start">
        <p-floatLabel>
          <input pInputText id="projectTitle" [(ngModel)]="title" [ngClass]="{'error': !title}"
            [formControl]="titleInput" style="width: 81vw" />
          <label>Project Title</label>
        </p-floatLabel>
      </div>
      <div class="card flex justify-content-start min-w-full">
        <p-floatLabel>
          <textarea id="float-input" rows="5" pInputTextarea style="width: 81vw" [(ngModel)]="description"
            [ngClass]="{'error': !description}" [formControl]="descriptionInput" [autoResize]="true">
            </textarea>
          <label for="float-input">Description</label>
        </p-floatLabel>
      </div>
      <div class="card p-fluid">
        <p-floatLabel>
          <p-autoComplete [(ngModel)]="selectedTags" [suggestions]="getNamesForTags(filteredTags)"
            (completeMethod)="filterTags($event)" [multiple]="true" [forceSelection]="true">
          </p-autoComplete>

          <label>Tags</label>
        </p-floatLabel>

      </div>
      <div class="card p-fluid">
        <p-floatLabel>

          <p-autoComplete [(ngModel)]="selectedCollaborators"
            [suggestions]="getNamesForCollaborators(filteredCollaborators)"
            (completeMethod)="filterCollaborators($event)" [multiple]="true" [forceSelection]="true">
          </p-autoComplete>

          <label>Collaborators</label>
        </p-floatLabel>
      </div>

        <div class="linkUpload">
          <div class=" grid flex">
            <h3 class="col-2">Links</h3>
            <div class="col-10"></div>
          </div>
          <div class="card">
            <p-dataView #dv [value]="links">
              <ng-template let-links pTemplate="list">
                <div *ngFor="let link of links;let i = index" class="col-12" class="col-12">
                  <div class="grid row-gap-2">
                    <div class="col-12 md:col-6 lg:col-5">
                      <p-floatLabel>
                        <input [(ngModel)]="link.name" [ngClass]="{'error': !link.name}" pInputText
                               style="width: 85%;"/>
                        <label >Link display name</label>
                      </p-floatLabel>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4">
                      <p-floatLabel>
                        <input [(ngModel)]="link.url" [ngClass]="{'error': !link.url}" pInputText
                               style="width: 85%;"/>
                        <label>Link address(URL)</label>
                      </p-floatLabel>
                    </div>
                    <div class="flex justify-content-center col-12 md:col-6 lg:col-3">
                      <p-button (click)="removeLink(i)" icon="pi pi-trash" label="Delete" severity="danger">
                      </p-button>
                    </div>
                  </div>
                </div>

              </ng-template>
            </p-dataView>
          </div>
          <div class="flex justify-content-center">
            <p-button (click)="addLink()" icon="pi pi-plus-circle" label="Add Link"/>
          </div>
        </div>

        <div class="mediaUpload">
          <div class=" grid flex">
            <div class="col-2">
              <h3>Media</h3>
            </div>
            <div class="col-10"></div>
          </div>
          <div class="card">
            <p-dataView #dv [value]="media">
              <ng-template let-mediaFiles pTemplate="list">
                <div *ngFor="let media of mediaFiles; let i = index" class="col-12" class="col-12">
                  <div class="grid">
                    <div class="col-12 md:col-6 lg:col-3 ">
                      <h4>{{ media.path }}</h4>
                    </div>
                    <div class="col-12 md:col-6 lg:col-3 ">
                      <p-floatLabel>
                        <input [(ngModel)]="mediaNames[i]" [ngClass]="{'error': !media.name}" pInputText style="width: 100%;"/>
                        <label>Media display name</label>
                      </p-floatLabel>
                    </div>
                    <div class="col-6 md:col-6 lg:col-3 flex justify-content-center">
                      <p-button (onClick)="downloadDocument(media.mediaId)" icon="pi pi-download" label="Download"/>
                    </div>
                    <div class="col-6 md:col-6 lg:col-3 flex justify-content-center">
                      <p-button (click)="removeMedia(i)" icon="pi pi-trash" label="Delete" severity="danger"/>
                    </div>
                  </div>
                </div>

              </ng-template>
            </p-dataView>
          </div>
          <div class="flex justify-content-center">
            <p-fileUpload
              #form
              (uploadHandler)="uploadFile($event, form)"
              [auto]="true"
              [multiple]="true"
              chooseIcon="pi pi-upload"
              chooseLabel="Upload File"
              customUpload="true"
              maxFileSize="1000000"
              mode="basic"
              multiple="multiple"
              name="demo[]">
              <ng-template pTemplate="empty"></ng-template>
            </p-fileUpload>
          </div>
        </div>
          <div class="card">
        <div class="flex justify-content-end">
          <p-button label="Cancel" class="p-button-secondary" severity="danger" (click)="cancel()"></p-button>
          <button id="saveButton" pButton pRipple label="Save" class="p-button-success" type="submit"
            (click)="saveProject()">
          </button>
        </div>
      </div>
      <div>

      </div>
    </div>
    <div class="col-2"></div>
  </div>
</body>

</html>
