<div class="flex card">
    <p-card [style]="styleOBJ">
        <div class="card flex" style="width: 100%">
            <div class="card" style="width: 50%">
                <p>
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
                        style="width: 100%; height: 100%; border-radius: 5%;" />
                </p>
            </div>
            <p-divider layout="vertical" />
            <div class="card">
                <h3 style="text-align: center;">
                    Project Title
                </h3>
                <p style="text-align: center;">
                    Luca Ionescu, Filip Cirtog, Bogdan Paramon, Chris Obis, Paul Anton
                </p>
                <p-divider type="solid" />
                <p style="text-align: left;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum.
                </p>
            </div>
        </div>
    </p-card>
</div>