.first-container {
    display: flex;
    justify-content: flex-end;
}

  .home-button {
    background-color: #3b82f6;
    font-weight: bold;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    margin-left: 20px;
  }
  
  .home-button:hover {
    background-color: #2563EB;
  }

  .responsive-input {
    width: 50%;
    padding: 0.5em;
    box-sizing: border-box;
  }
  
  .container-style {
    background-color: #f9fafb;
    border-top: 2px solid #ECECEC;
    border-bottom: 2px solid #ECECEC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

@media (max-width: 768px) { 
  .container-style {
      flex-direction: column;
      align-items: flex-start;
  }
}

.button-container {
  text-align: right;
  max-width: 140px;
  max-height: 140px;
}

.text-role {
  font-size: medium;
  text-align: center;
}

.role-on-project {
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  text-align: center;

}
.role-on-project:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.col-10 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-user {
  background-color: #f9fafb;
  border-top: 2px solid #ECECEC;
  border-bottom: 2px solid #ECECEC;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 10px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  min-width: 400px;
  width: 49%;
}

.container-user-expanded {
  width: 100%;
}

.container-user h3 {
  display: inline-block;
  margin-left: 10px;
  width: 15%;
}

.container-user p-checkbox {
  display: inline-block;
  padding: 10px;
  align-items: center;
}