<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>Document</title>
</head>
<body>
<div class="grid">
  <p-toast />
  <div class="col-1"></div>
  <div class="col-10">
    <div class="introduction">
      <div class="grid">
        <div class="col-1 center" style="align-items: center;">
          <a href="http://localhost:4200">
            <p-button [outlined]="true" icon="pi pi-arrow-left" severity="contrast"/>
          </a>
        </div>
        <div class="col-9">
          <h1 id="title" style="text-align: center;"><i>Edit project page</i></h1>
        </div>
      </div>
    </div>
    <div class="card flex justify-content-start ">
      <p-floatLabel class="min-w-screen" id="templatecomponent">
        <p-dropdown
          (onClear)="removeTemplate()"
          [(ngModel)]="selectedTemplateName"
          [options]="templateNames"
          [showClear]="true"
          inputId="float-label"
        />
        <label>Select a Template</label>
      </p-floatLabel>
    </div>
    <div>
      <p-floatLabel>
        <input
          [(ngModel)]="title"
          id="projecttitle"
          pInputText
          style="width: 81vw"
        />
        <label>Project Title</label>
      </p-floatLabel>
    </div>
    <div class="card flex justify-content-start min-w-full">
      <p-floatLabel>
            <textarea
              [(ngModel)]="description"
              [autoResize]="true"
              id="float-input"
              pInputTextarea
              rows="5"
              style="width: 81vw"
            >
            </textarea>
        <label for="float-input">Description</label>
      </p-floatLabel>
    </div>
    <div class="card">
      <div class="grid align-items-center">
        <div class="lg:col-9 col-12">
          <div class="p-fluid">
            <p-floatLabel style="width: 100%;">
              <p-autoComplete
                [(ngModel)]="selectedTags"
                [suggestions]="filteredTags"
                (completeMethod)="filterTags($event)"
                [multiple]="true"
                field="name"
                [panelStyle]="{'width': 'auto', 'min-width': '200px', 'max-width': '100%'}">

                <ng-template let-tag pTemplate="tagTemplate">
                  <div class="tag-item" [style.background]="tag.color" [style.color]="isDarkColor(tag.color) ? 'white' : 'black'">
                    <span>{{ tag.name }}</span>
                  </div>
                </ng-template>
              </p-autoComplete>
              <label>Tags</label>
            </p-floatLabel>
          </div>
        </div>
        <div class="lg:col-3 col-12 flex justify-content-center align-items-center">
          <p-button (click)="showAddTagDialog()" icon="pi pi-tags" label="Add platform tag"></p-button>
          <p-dialog [(visible)]="addTagVisible" [modal]="true" [style]="{ width: '30rem', height: '25rem' }" header="Add Platform Tag">
            <div class="dialog-content p-3">
              <p class="dialog-info mb-4 ">You are about to add a new tag to the platform. To add a tag to a project please proceed to the previous step.</p>
              <div class="flex justify-content-center align-items-center gap-4 mb-4">
                <p-colorPicker [(ngModel)]="newTagColor"/>
                <p-floatLabel>
                  <input pInputText id="newTagNameInput" [(ngModel)]="newTagName" [ngClass]="{'error': !newTagName}"
                         [formControl]="tagNameInput" style="width: 100%; max-width: 20rem;" />
                  <label for="newTagNameInput">Tag Name</label>
                </p-floatLabel>
              </div>
            </div>
            <div class="dialog-actions flex justify-content-end gap-2 p-3">
              <p-button (click)="addTagVisible = false" label="Cancel" severity="secondary" class="p-button-outlined" />
              <p-button (click)="saveNewTag()" label="Add Tag" severity="primary" />
            </div>
          </p-dialog>
        </div>
      </div>
    </div>
    <!-- <div class="lg:col-12 col-12">
      <div class="p-fluid">
        <p-floatLabel style="width: 100%;">
          <p-autoComplete
            [(ngModel)]="selectedCollaborators"
            [suggestions]="filteredCollaborators"
            (completeMethod)="filterCollaborators($event)"
            [multiple]="true"
            [forceSelection]="true"
            [field]="'name'">
          </p-autoComplete>
          <label>Collaborators</label>
        </p-floatLabel>
      </div>
    </div> -->
    <h3>Collaborators</h3>
    <div class="lg:col-12 col-12">
      <div class="p-fluid">
        <div class="grid">
          <div *ngIf="selectedCollaborators.length > 0" class="col-4"><strong>Name</strong></div>
          <div *ngIf="selectedCollaborators.length > 0" class="col-4"><strong>Role</strong></div>
          <div class="col-2"></div>
          <div class="col-2"></div>
        </div>
        <div class="grid" *ngFor="let collaborator of selectedCollaborators; let i = index">
          <div class="col-4" style="font-size:large; margin-top: 12px;">{{ collaborator.name }}</div>
          <div class="col-4" style="font-size:large; margin-top: 12px;">{{ collaborator.role }}</div>
          <div class="col-2" style="padding: 5px">
            <p-button icon="pi pi-pencil" label="Edit" class="p-button-warning" [style]="{'min-width': '120px'}" severity="info" (click)="editCollaborator(collaborator, i)"></p-button>
          </div>
          <div class="col-2" style="padding: 5px">
            <p-button icon="pi pi-trash" label="Delete" class="p-button-danger" [style]="{'min-width': '120px'}" severity="danger" (click)="showDeleteDialog()"></p-button>
            <p-dialog [(visible)]="deleteDialogVisible" [modal]="true" [style]="{ width: '25rem' }" header="Delete Collaborator">
              <span class="p-text-secondary block mb-5">You are about to delete <b><i>{{collaborator.name}}</i></b> from the project. Please be careful as this action cannot be undone. Please confirm your action.</span>
              <div class="flex justify-content-end gap-2">
                <p-button (click)="deleteDialogVisible = false" label="Cancel" severity="secondary"/>
                <p-button (click)="removeCollaborator(i); deleteDialogVisible = false" icon="pi pi-trash" label="Confirm"
                          severity="danger"/>
              </div>
            </p-dialog>
          </div>
        </div>
      </div>
      <div class="flex justify-content-center align-items-center mb-3" style="padding: 10px">
        <p-button (click)="showAddCollaboratorDialog()" icon="pi pi-user-plus" label="Add Collaborator"
        [style]="{'padding': '12px'}"></p-button>
      </div>
    </div>

    <p-dialog [(visible)]="addCollaboratorVisible" [modal]="true" [style]="{ width: '35%', 'min-width': '300px' }" header="Collaborator"
      class="flex justify-content-center align-items-center">
      <div class="dialog-content p-3">
        <div class="dialog-info mb-4">
          You are about to add a new collaborator to the project. To add a collaborator, please fill in the name and role fields.
        </div>
        <div class="flex flex-column justify-content-center align-items-center gap-4 mb-4" style="height: 50%">
          <div class="input-container">
            <p-autoComplete 
              [(ngModel)]="newCollaboratorName" 
              [suggestions]="filteredCollaborators" 
              (completeMethod)="filterCollaborators($event)" 
              (onSelect)="onCollaboratorSelect($event)" 
              field="name" 
              [formControl]="collaboratorNameInput" 
              [forceSelection]="false"
              placeholder="Collaborator Name"
              class="full-width"
              emptyMessage="Press Tab to confirm!">
            </p-autoComplete>
          </div>
          <div class="input-container">
            <p-floatLabel>
              <input pInputText id="newCollaboratorRoleInput" [(ngModel)]="newCollaboratorRole" [formControl]="collaboratorRoleInput" />
              <label for="newCollaboratorRoleInput">Collaborator Role</label>
            </p-floatLabel>
          </div>
        </div>
      </div>
      <div class="dialog-actions flex justify-content-center gap-2">
        <p-button (click)="cancelAddCollaborator()" label="Cancel" severity="danger" class="p-button-outlined" />
        <p-button (click)="saveNewCollaborator()" label="Confirm" severity="success" />
      </div>
    </p-dialog>

        <!-- Existing Accounts Section -->
        <h3>Accounts</h3>
        <div class="lg:col-12 col-12">
          <div class="p-fluid">
            <div class="grid">
              <div *ngIf="currentAccounts.length > 0" class="col-4"><strong>Username</strong></div>
              <div *ngIf="currentAccounts.length > 0" class="col-4"><strong>Role</strong></div>
              <div class="col-2"></div>
              <div class="col-2"></div>
            </div>
            <div class="grid" *ngFor="let account of currentAccounts; let i = index">
              <div class="col-4" style="font-size:large; margin-top: 12px;">{{ account.username }}</div>
              <div class="col-4" style="font-size:large; margin-top: 12px;">
                <p-dropdown 
                  [options]="roles"
                  [(ngModel)]="account.roleInProject"
                  placeholder="Select Role"
                  itemTemplate="item">
                  <ng-template let-item pTemplate="item">
                    <span>{{item}}</span>
                  </ng-template>
              </p-dropdown>

              </div>
              <div class="col-2" style="padding: 5px; display: flex; justify-content: center; align-items: center;">
                <p-button icon="pi pi-trash" label="Delete" class="p-button-danger" [style]="{'min-width': '120px'}" severity="danger" (click)="removeCurrentAccount(account)"></p-button>
              </div>
            </div>
          </div>
          <div class="p-fluid">
            <div class="grid">
              <div *ngIf="selectedAccounts.length > 0" class="col-4"><strong>Username</strong></div>
              <div *ngIf="selectedAccounts.length > 0" class="col-4"><strong>Role</strong></div>
              <div class="col-2"></div>
              <div class="col-2"></div>
            </div>
            <div class="grid" *ngFor="let account of selectedAccounts; let i = index">
              <div class="col-4" style="font-size:large; margin-top: 12px;">{{ account.username }}</div>
              <div class="col-4" style="font-size:large; margin-top: 12px;">{{ account.roleInProject }}</div>
              <div class="col-2" style="padding: 5px">
                <p-button icon="pi pi-pencil" label="Edit" class="p-button-warning" [style]="{'min-width': '120px'}" severity="info" (click)="editAccount(account, i)"></p-button>
              </div>
              <div class="col-2" style="padding: 5px">
                <p-button icon="pi pi-trash" label="Delete" class="p-button-danger" [style]="{'min-width': '120px'}" severity="danger" (click)="removeAccount(i)"></p-button>
              </div>
            </div>
          </div>
          <div class="flex justify-content-center align-items-center mb-3" style="padding: 10px">
            <p-button (click)="addAccountVisible = true" icon="pi pi-user-plus" label="Add Account" [style]="{'padding': '12px'}"></p-button>
          </div>
        </div>

        
        <p-dialog [(visible)]="addAccountVisible" [modal]="true" [style]="{ width: '30rem' }" header="Add Account">
          <div class="dialog-content p-3">
            <div class="dialog-info mb-4">
              You are about to add a new account to the project. To add an account, please fill in the username field and select a role.
            </div>
            <div class="flex flex-column justify-content-center align-items-center gap-4 mb-4" style="margin-top: 50px">
              <div class="input-container">
                <p-autoComplete 
                  [(ngModel)]="newAccountUsername" 
                  [suggestions]="filteredAccounts" 
                  (completeMethod)="filterAccounts($event)" 
                  (onSelect)="onAccountSelect($event)" 
                  [formControl]="accountUsernameInput" 
                  dropdown="true" 
                  [forceSelection]="true" 
                  placeholder="Account Username"
                  class="full-width">
                </p-autoComplete>
                <p-autoComplete 
                  [(ngModel)]="newAccountName"
                  [suggestions]="filteredAccountsByName"
                  (completeMethod)="filterAccountsByName($event)"
                  (onSelect)="onAccountNameSelect($event)"
                  dropdown="true"
                  [forceSelection]="false"
                  placeholder="Search Account by Name"
                  class="full-width">
                </p-autoComplete>
              </div>
              <div class="input-container">
                <p-dropdown 
                  [(ngModel)]="newAccountRole" 
                  [options]="roles" 
                  placeholder="Select Role"
                  itemTemplate="item">
                  <ng-template let-item pTemplate="item">
                    <span>{{item}}</span>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
          </div>
          <div class="dialog-actions flex justify-content-end gap-2 p-3">
            <p-button (click)="cancelAddAccount()" label="Cancel" severity="danger" class="p-button-outlined" />
            <p-button (click)="saveNewAccount()" label="Add Account" severity="primary" />
          </div>
        </p-dialog>
        
    

    <div class="linkUpload">
      <div class=" grid flex">
        <h3 class="col-2">Links</h3>
        <div class="col-10"></div>
      </div>
      <div class="card">
        <p-dataView #dv [value]="links">
          <ng-template let-links pTemplate="list">
            <div *ngFor="let link of links;let i = index" class="col-12" class="col-12">
              <div class="grid row-gap-2">
                <div class="col-12 md:col-6 lg:col-5">
                  <p-floatLabel>
                    <input [(ngModel)]="link.name" [ngClass]="{'error': !link.name}" pInputText
                           style="width: 85%;"/>
                    <label>Link display name</label>
                  </p-floatLabel>
                </div>
                <div class="col-12 md:col-6 lg:col-4">
                  <p-floatLabel>
                    <input [(ngModel)]="link.url" [ngClass]="{'error': !link.url}" pInputText
                           style="width: 85%;"/>
                    <label>Link address(URL)</label>
                  </p-floatLabel>
                </div>
                <div class="flex justify-content-center col-12 md:col-6 lg:col-3">
                  <p-button (click)="removeLink(i)" icon="pi pi-trash" label="Delete" severity="danger">
                  </p-button>
                </div>
              </div>
            </div>

          </ng-template>
        </p-dataView>
      </div>
      <div class="flex justify-content-center">
        <p-button (click)="addLink()" icon="pi pi-plus-circle" label="Add Link"/>
      </div>
    </div>
    <div class="mediaUpload">
      <div class=" grid flex">
        <div class="col-8 align-items-center gap-5">
          <h3>Media</h3>
          <p style="color: gray;"> Keep in mind that the first .PNG or .JPEG uploaded will be the thumbnail!</p>
        </div>
        <div class="col-10"></div>
      </div>
      <div class="card">
        <p-dataView #dv [value]="editMediaList">
          <ng-template let-editMediaList pTemplate="list">
            <div *ngFor="let media of editMediaList; let i = index" class="col-12" class="col-12">
              <div *ngIf="media.delete==false">
              <div class="grid">
                <div class="col-12 md:col-6 lg:col-3 ">
                  <h4>{{ media.media.path }}</h4>
                </div>
                <div class="col-12 md:col-6 lg:col-3 ">
                  <p-floatLabel>
                    <input [(ngModel)]="media.media.name" [ngClass]="{'error': !media.name}" pInputText style="width: 100%;"/>
                    <label>Media display name</label>
                  </p-floatLabel>
                </div>
                <div class="col-6 md:col-6 lg:col-3 flex justify-content-center">
                  <p-button (onClick)="downloadDocument(media.mediaId)" icon="pi pi-download" label="Download"/>
                </div>
                <div class="col-6 md:col-6 lg:col-3 flex justify-content-center">
                  <p-button (click)="removeMedia(i)" icon="pi pi-trash" label="Delete" severity="danger"/>
                </div>
              </div>
              </div>
            </div>

          </ng-template>
        </p-dataView>
      </div>
      <div class="flex justify-content-center">
        <p-fileUpload
          #form
          (uploadHandler)="uploadFile($event, form)"
          [auto]="true"
          [multiple]="true"
          chooseIcon="pi pi-upload"
          chooseLabel="Upload File"
          customUpload="true"
          maxFileSize="1000000"
          mode="basic"
          multiple="multiple"
          name="demo[]">
          <ng-template pTemplate="empty"></ng-template>
        </p-fileUpload>
      </div>
    </div>
    <div class="card">
      <div class="flex justify-content-end">
        <a [routerLink]="['/project-detail', projectId]">
          <p-button (click)="cancel()" class="p-button-secondary" label="Cancel" severity="danger"></p-button>
        </a>
        <a [routerLink]="['/project-detail', projectId]">
          <button
            (click)="saveProject()"
            class="p-button-success"
            id="saveButton"
            label="Save"
            pButton
            pRipple
            type="submit">
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
</div>
</body>
</html>
