<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Register</title>
    <link rel="stylesheet" href="login-menu.component.css">
</head>
<body>
    <div class="grid">
        <div class="col-12" style="text-align: right;">
            <a [routerLink]="['']">
              <p-button label="Home" ></p-button>
            </a>
            <p-button *ngIf="!((usernameL.invalid || passwordL.invalid) && loginSubmitted) && 
            !(registerSubmitted && (usernameR.invalid || passwordR.invalid || nameR.invalid))" 
            [style]='{"margin-left":"0.3%"}' severity="success" (click)="showHelp = true" icon="pi pi-question"></p-button>
            <p-button *ngIf="((usernameL.invalid || passwordL.invalid) && loginSubmitted) || 
            (registerSubmitted && (usernameR.invalid || passwordR.invalid || nameR.invalid))" 
            [style]='{"margin-left":"0.3%"}' severity="danger" (click)="showHelp = true" icon="pi pi-question"></p-button>
        </div>
    </div>

    <div style="display: flex; justify-content: flex-end;">
          <p-dialog [(visible)]="showHelp" [modal]="true" [style]="{ width: '30rem' }" header="Helper Menu - Login / Registration">
            <div class="dialog-content p-3">
              <p class="dialog-info mb-4 ">A <b>Username</b> must consist of alphanumeric characters only and be between 5 to 20 characters long.</p>
              <p class="dialog-info mb-4 ">A <b>Name</b> must consist of alphanumeric characters only, be separated only by whitespaces 
                and be between 1 to 50 characters long.</p>
              <p class="dialog-info mb-4 ">A <b>Password</b> must contain at least one digit, one lowercase letter, one uppercase letter, one special character, 
                and whitespaces and be at least 8 characters long.</p>
            </div>
            <div class="dialog-actions flex justify-content-end gap-2 p-3">
              <p-button (click)="showHelp = false" label="Understood" severity="success" class="p-button-outlined" />
            </div>
          </p-dialog>
    </div>

    <div class="container">
        <p-toast />
        <div *ngIf="!isLoggedIn" class="login">
            <h2>Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <input type="text" [(ngModel)]="loginUserRequest.username" formControlName="username" placeholder="Username" [class.invalid]="usernameL.invalid" required>
                <div *ngIf="usernameL.invalid && loginSubmitted" class="error">
                    Enter a valid username.
                </div>
                <input type="password" [(ngModel)]="loginUserRequest.password" formControlName="password" placeholder="Password" [class.invalid]="passwordL.invalid" required>
                <div *ngIf="passwordL.invalid && loginSubmitted" class="error">
                    Enter a valid password.
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
        <div *ngIf="!isLoggedIn" class="register">
            <h2>Register</h2>
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <input type="text" [(ngModel)]="registerUserRequest.username" formControlName="username" placeholder="Username" [class.invalid]="usernameR.invalid" required>
                <div *ngIf="usernameR.invalid && registerSubmitted" class="error">
                    Enter a valid username.
                </div>
                <input type="text" [(ngModel)]="registerUserRequest.name" formControlName="name" placeholder="Name" [class.invalid]="nameR.invalid" required>
                <div *ngIf="nameR.invalid && registerSubmitted" class="error">
                    Enter a valid name.
                </div>
                <input type="password" [(ngModel)]="registerUserRequest.password" formControlName="password" placeholder="Password" [class.invalid]="passwordR.invalid" required>
                <div *ngIf="passwordR.invalid && registerSubmitted" class="error">
                    Enter a valid password.
                </div>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</body>
</html>
